/*=========================================================================================
    Blog CSS Start
 ==========================================================================================*/
@use '../utility/index' as variable;

.single-blog {
    &:hover {
        .blog-img-box {
            img {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
    .blog-top {
        position: relative;
        width: 100%;
        height: 280px;
        border-radius: 15px 15px 0 0;
        overflow: hidden;

        .blog-img-box {
            display: block;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                transition: 0.5s ease all;
                -webkit-transition: 0.5s ease all;
                -moz-transition: 0.5s ease all;
                -ms-transition: 0.5s ease all;
                -o-transition: 0.5s ease all;
            }

            &:hover {
                img {
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }

        .blog-cat {
            position: absolute;
            content: '';
            bottom: 14px;
            right: 14px;
            background: #19825c;
            padding: 6px 14px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #ffffff;
        }
    }

    .blog-content {
        background: #fff;
        padding: 24px 18px;
        -webkit-box-shadow: 1px 1px 6px rgba(102, 102, 102, 0.08);
        box-shadow: 1px 1px 6px rgba(102, 102, 102, 0.08);
        border-radius: 0px 0px 15px 15px;

        .blog-title {
            font-family: 'Syne';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #344054;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            margin-bottom: 24px;
            min-height: 60px;
            transition: 0.3s ease all;

            -webkit-transition: 0.3s ease all;
            -moz-transition: 0.3s ease all;
            -ms-transition: 0.3s ease all;
            -o-transition: 0.3s ease all;
            &:hover {
                color: variable.$grannyApple-600;
            }
        }

        .blog-date {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #667085;
        }
    }
}
// Home Blog Section End

// Blog Page Start
.single-blog .blog-top .blog-cat {
    bottom: 10px;
    left: 10px;
    right: unset;
}

.blog-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #667085;
    margin-bottom: 20px;
}

.bottom-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px 0 8px 0;
}

.blog-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #667085;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    &:hover {
        color: variable.$orange;
    }
}

.single-blog .blog-content .blog-title {
    margin-bottom: 8px;
}

/*=========================================================================================
    Blog CSS End
 ==========================================================================================*/
