/*=========================================================================================
    Contact CSS Start
 ==========================================================================================*/
@use '../utility/index' as variable;

.home-contact-form {
    padding: 50px 48px;
    background: #fff;
    border-radius: 10px;
}

.home-contact-title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #344054;
}

.contact-info-collection {
    li {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #475467;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 20px;

        span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: variable.$grannyApple-600;
            border-radius: 50%;
            color: #fff;
        }
    }
}

.working-hours-box {
    margin-top: 40px;

    .working-title {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #2f2d53;
        margin-bottom: 12px;
    }

    .working-collection {
        li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            position: relative;
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }

            .line-devider {
                position: absolute;
                content: '';
                width: 100%;
                border-top: 1px dashed #98a2b3;
                z-index: 1;
            }

            .day-name {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #2b3a4b;
                position: relative;
                background: #f2fbf6;
                z-index: 2;
                padding-right: 10px;
            }

            .day-hours {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #2b3a4b;
                background: #f2fbf6;
                z-index: 1;
                padding-left: 10px;
            }
        }
    }
}

.contact-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px;

    li {
        a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-transition: 0.3s ease all;
            -o-transition: 0.3s ease all;
            transition: 0.3s ease all;
            font-size: 18px;
            color: #fff;
            background: #667085;
        }
    }
}

.bg-pink {
    .day-hours,
    .day-name {
        background: variable.$pink !important;
    }
}

.bg-white {
    .day-hours,
    .day-name {
        background: #fff !important;
    }
}

.bg-jade-500{
    .day-hours,
    .day-name {
        background: variable.$jade-500 !important;
    }
}
/*=========================================================================================
    Contact CSS End
 ==========================================================================================*/
