/*=========================================================================================
    404 Page Start
 ==========================================================================================*/
@use '../utility/index' as variable;

.error-page {
    padding-top: 160px;
}

.error-img {
    width: 100%;
}

.error-title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 68px;
    color: variable.$grannyApple-600;
    margin-bottom: 8px;
}

.error-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2f2d53;
    margin-bottom: 24px;
}

.error-page-content {
    margin-top: 45px;
}

/*=========================================================================================
    404 Page End
 ==========================================================================================*/
