/*=========================================================================================
    Header CSS Start
 ==========================================================================================*/
@use '../utility/index' as variable;

.header {
    background: #e1f7ea;
    padding: 4px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header.sticky {
    position: -webkit-sticky;
    position: sticky;
}

.navbar-expand-xl {
    padding: 18px 0;
    .navbar-nav {
        gap: 24px;

        .nav-link {
            padding-right: 0;
            padding-left: 0;
            font-style: normal;
            font-weight: 400;
            color: #475467;
            font-size: 18px;
            font-family: Inter;
            line-height: 26px;
        }

        .active {
            color: variable.$grannyApple-600 !important;
        }

        .dropdown-item {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            padding: 8px 12px;
            margin-bottom: 2px;
        }

        .dropdown-item:focus,
        .dropdown-item:hover {
            color: #fff !important;
            background-color: variable.$grannyApple-600 !important;
        }

        .dropdown-item.active,
        .dropdown-item:active {
            background-color: variable.$grannyApple-600 !important;
            color: #fff !important;
        }
    }

    .header-buttons {
        .btn {
            padding: 10px 24px;
        }
    }
}

.navbar-collapse {
    -webkit-box-flex: inherit;
    -ms-flex-positive: inherit;
    flex-grow: inherit;
}

.header-2 {
    background: transparent;
    margin-top: 50px;

    .navbar.navbar-expand-xl {
        padding: 12px 10px;
        background: #fff;
        border-radius: 8px;
    }
}

.header-sign {
    background: #fff7f5;
}
/*=========================================================================================
    Header CSS End
 ==========================================================================================*/
