/*=========================================================================================
    Variables CSS Start
 ==========================================================================================*/
$syne: 'Syne', sans-serif;
$inter: 'Inter', sans-serif;

// Color
$orange: #ff5b2e;
$grannyApple-50: #eefbf4;
$grannyApple-100: #cef2de;
$grannyApple-200: #b2e8cd;
$grannyApple-300: #7fd6b0;
$grannyApple-400: #4abd8e;
$grannyApple-500: #27a274;
$grannyApple-600: #19825c;
$grannyApple-700: #14684c;
$grannyApple-800: #12533e;
$grannyApple-900: #104434;
$grannyApple-950: #08261e;
$jade-50: #f2fbf6;
$jade-100: #e1f7ea;
$jade-200: #c5edd6;
$jade-300: #98ddb6;
$jade-400: #63c58d;
$jade-500: #3ca66a;
$jade-600: #2e8b56;
$jade-700: #276e47;
$jade-800: #23583a;
$jade-900: #1f4832;
$jade-950: #0c2719;
$lightPink: #fffaf5;
$yellow: #ffcc37;
$pink: #ffefea;

/*=========================================================================================
    Variables CSS End
 ==========================================================================================*/
